Options -ExecCGI -Indexes -Includes +FollowSymLinks

RewriteEngine On

Header set Cache-Control "max-age=0, must-revalidate"

RewriteBase /

RewriteRule ^w/(.*)?$ /?id=$1  [L,R=301,NE]
RewriteCond %{HTTP_HOST} (.*)
RewriteCond %{REQUEST_URI} /$ [NC]
RewriteRule ^(.*)(/)$ $1 [L,R=301]

RewriteCond %{HTTP_REFERER} /
RewriteCond %{REQUEST_URI} ^/w$
RewriteRule . - [F]
